/**
 * Tableless Layout for default template
 *
 * @author Andreas Gohr <andi@splitbrain.org>
 * @author moraes <moraes@tipos.com.br>
 */

/* -------------- top row --------------- */
div.dokuwiki .header {
  padding: 20px 0 20px 20px;
  background-color: __header_background__ !important;
  background-image:url("images/torchlogo.png");
  background-repeat: no-repeat;
  background-position: 5px 5px;
  height:48px;
}

div.dokuwiki .pagename {
  position: center;
  font-size: 130%;
  font-weight: bolder;
  color: __header_color__;
  text-align: center;
  vertical-align: bottom;
}

div.dokuwiki .pagename a {
  color: __header_color__ !important;
  text-decoration: none !important;
}

div.dokuwiki .logo {
  float: left;
  font-size: 220%;
  font-weight: bolder;
  text-align: right;
  vertical-align: middle;
  display:none;
}

div.dokuwiki .logo a {
  color: __background_alt__ !important;
  text-decoration: none !important;
  font-variant: small-caps;
  letter-spacing: 2pt;
}

/* ---------------  top and bottom bar ---------------- */
div.dokuwiki .bar {
  border-top: 1px solid __border__;
  border-bottom: 1px solid __border__;
  background: __background_alt__;
  padding: 0.1em 0.15em;
  clear: both;
}

div.dokuwiki .bar-left {
  float: left;
  display: none;
}

div.dokuwiki .bar-right {
  float: right;
  text-align: right;
}

div.dokuwiki #bar__bottom {
  margin-bottom: 3px;
  display: none;
}

div.dokuwiki .bar-search {
    float:right;
    text-align:right;
    vertical-align:top;
    font-size:80%;
    padding-top: 0px;
}

div.dokuwiki #bar__top {
    display:none;
}

/* ------------- File Metadata ----------------------- */

div.dokuwiki div.meta {
  clear: both;
  margin-top: 1em;
  color: __text_alt__;
  font-size: 70%;
}

div.dokuwiki div.meta div.user {
  float: left;
}

div.dokuwiki div.meta div.doc {
  text-align: right;
}
